% Plantilla Jinja2: completar variables y renderizar a Preambulo/datos.tex
\def\semestre{ {{ semestre | safe }} }
\def\titulo{ {{ titulo | safe }} }
\def\carrera{ {{ carrera | safe }} }
\def\escuela{ {{ carrera | safe }} }
\def\coordinador{ {{ coordinador | safe }} }
